@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
@keyframes apparition {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: fixed;
  z-index: 9999;
  opacity: 0.7;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: loading 500ms 3s;
  animation-fill-mode: forwards;
}
.loader i {
  animation: rotation 3s;
  font-size: 70px;
}

.solid-hearth {
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
}

label input[type=checkbox] {
  position: absolute;
  right: 20px;
  bottom: 20px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

label input[type=checkbox]:checked ~ .hearth-check i {
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  opacity: 1;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: fixed;
  z-index: 9999;
  opacity: 0.7;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: loading 500ms 3s;
  animation-fill-mode: forwards;
}
.loader i {
  animation: rotation 3s;
  font-size: 70px;
}

body {
  margin: 0;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: #000;
}

.header-title {
  background-color: #F6F6F6;
  padding: 30px;
  text-align: center;
  font-size: 14px;
  padding-top: 50px;
  font-weight: 200;
}

.header-title1 {
  font-weight: bold;
  font-size: 23px;
}

.logo {
  display: flex;
  margin-top: 10px;
  justify-content: center;
}

.logo img {
  width: 200px;
  margin: 10px;
}

.localisation {
  display: flex;
  flex-direction: row;
  background-color: #F6F6F6;
  width: 100%;
  justify-content: center;
  gap: 20px;
  box-shadow: inset 0px 8px 6px -6px rgba(0, 0, 0, 0.2);
}

.localisation i {
  display: flex;
  align-items: center;
  color: #353535;
  font-size: 21px;
}

.localisation img {
  width: 100%;
}

.header-btn {
  width: 238px;
  height: 47px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border: none;
  border-radius: 30px;
  color: white;
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.header-btn:hover {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.fonctionnement {
  display: flex;
  flex-direction: column;
}

.fonctionnement-title {
  padding-left: 20px;
  padding-top: 30px;
  margin: 0;
  padding-bottom: 20px;
}

.fonctionnement-card {
  text-align: center;
  background-color: #F6F6F6;
  border-radius: 25px;
  display: inline-flex;
  justify-content: center;
  width: 80vw;
  height: 17vw;
  position: relative;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.fonctionnement-card:hover i {
  color: #9356DC;
}
.fonctionnement-card i {
  padding-right: 15px;
  color: #7E7E7E;
}

.fonctionnement-content {
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.number {
  display: flex;
  position: absolute;
  left: -8px;
  border: 2px solid #9356DC;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 3px;
  background-color: #9356DC;
  height: 14px;
  color: white;
  width: 14px;
  font-style: normal;
  font-size: 12px;
}

.restaurant {
  background-color: #F6F6F6;
  margin-top: 50px;
  padding-bottom: 40px;
}

.all-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.restaurant h2 {
  padding-left: 25px;
  padding-top: 50px;
}

.restaurant-card {
  background-color: white;
  border-radius: 15px;
  line-height: 0.3;
  position: relative;
  width: 95vw;
  height: 300px;
}

.restaurant-card img {
  width: 100%;
  height: 220px;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.restaurant-card .card-content {
  padding-left: 15px;
  font-weight: 900;
  padding-top: 10px;
}

.restaurant-card .card-text {
  padding-left: 15px;
  font-weight: 100;
  margin-bottom: 20px;
}

.restaurant-card i {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.hearth-check i {
  transition: 0.7s;
  font-size: 20px;
  cursor: pointer;
}

.footer-content {
  background-color: #353535;
  color: white;
}

.footer-title {
  padding-left: 20px;
  padding-top: 20px;
  font-family: Shrikhand;
}

.footer-link {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 20px;
  line-height: 1.6;
}

.footer-link a {
  color: white;
}

@media (min-width: 750px) {
  .all-card {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 50px;
  }
  .restaurant-card {
    width: 45vw;
  }
}
@media (max-width: 1024px) {
  .footer-title {
    margin: 0;
  }
}
@media (min-width: 1024px) {
  .localisation img {
    height: 30px;
  }
  .header-title1 {
    font-size: 29px;
  }
  .fonctionnement {
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
  }
  .fonctionnement-card {
    max-width: 700px;
    max-height: 95px;
  }
  .fonctionnement-content {
    flex-direction: row;
    margin: 20px;
    margin-left: 70px;
    margin-right: 70px;
    gap: 30px;
  }
  .main-title {
    margin-left: 100px;
  }
  .restaurant h2 {
    margin-right: 56vw;
    width: 30vw;
  }
  .restaurant {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .all-card {
    max-width: 1300px;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    gap: 50px 90px;
    justify-content: center;
  }
  .restaurant-card {
    width: 40vw;
  }
  .restaurant-card img {
    width: 100%;
    height: 220px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .footer-title {
    margin-right: 87px;
  }
  .footer-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
  }
  .footer-link {
    flex-direction: row;
    gap: 20px;
  }
}
@media (min-width: 1440px) {
  .fonctionnement-card {
    max-width: 700px;
    max-height: 113px;
  }
  .fonctionnement-title {
    margin-left: 130px;
  }
  .fonctionnement-content {
    flex-direction: row;
    margin-right: 150px;
    margin-left: 150px;
    gap: 30px;
  }
  .all-card {
    max-width: 2200px;
  }
}