@keyframes loading {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}
@keyframes apparition {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: fixed;
  z-index: 9999;
  opacity: 0.7;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  animation: loading 500ms 3s;
  animation-fill-mode: forwards;
}
.loader i {
  animation: rotation 3s;
  font-size: 70px;
}

.solid-hearth {
  opacity: 0;
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
}

label input[type=checkbox] {
  position: absolute;
  right: 20px;
  bottom: 20px;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

label input[type=checkbox]:checked ~ .hearth-check i {
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(to top, #9356DC, #FF79DA);
  opacity: 1;
}

body {
  margin: 0;
  font-family: "Roboto";
}

a {
  text-decoration: none;
  color: #000;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  height: 65px;
  align-items: center;
}

.arrow {
  position: absolute;
  left: 20px;
  top: 25px;
  font-size: 20px;
  color: black;
}

.logo img {
  width: 160px;
  margin: 10px;
  z-index: -1;
}

.background {
  width: 100vw;
  height: 70vw;
  max-width: 800px;
  -o-object-fit: cover;
     object-fit: cover;
}

label input[type=checkbox] {
  position: relative;
  right: 0;
  bottom: 0;
  opacity: 0;
}

.hearth-check i {
  position: absolute;
  right: 30px;
  top: 37px;
  font-size: 25px;
  transition: 0.7s;
  cursor: pointer;
}

.menu {
  position: relative;
  bottom: 40px;
  background-color: #F6F6F6;
  width: 100%;
  border-radius: 40px 40px 0px 0px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1055px;
}

h1 {
  font-family: Shrikhand;
  padding-top: 15px;
  padding-left: 20px;
  font-size: 25px;
  align-items: start;
  display: flex;
  justify-content: center;
  margin-right: 31vw;
  width: 63%;
}

h2 {
  font-size: 20px;
  border-bottom: 3px solid #99E2D0;
  width: 50px;
  margin-left: 20px;
  font-weight: 100;
  font-size: 18px;
}

h3 {
  font-size: 19px;
}

.menu-card {
  animation: apparition 500ms;
  animation-fill-mode: both;
  background-color: white;
  margin: 15px;
  padding-left: 15px;
  border-radius: 20px;
  width: 90vw;
  max-width: 500px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
}
.menu-card:nth-child(1) {
  animation-delay: 200ms;
}
.menu-card:nth-child(2) {
  animation-delay: 400ms;
}
.menu-card:nth-child(3) {
  animation-delay: 600ms;
}
.menu-card:nth-child(4) {
  animation-delay: 800ms;
}
.menu-card:nth-child(5) {
  animation-delay: 1000ms;
}
.menu-card:nth-child(6) {
  animation-delay: 1200ms;
}
.menu-card:nth-child(7) {
  animation-delay: 1400ms;
}
.menu-card:nth-child(8) {
  animation-delay: 1600ms;
}
.menu-card:nth-child(9) {
  animation-delay: 1800ms;
}

.menu-ok {
  background: #99E2D0;
  margin-right: -70px;
  border-radius: 0px 20px 20px 0px;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

@keyframes quarterspin {
  0% {
    transform: rotate(-276deg);
  }
  100% {
    transform: rotate(0);
  }
}
.menu-card:hover i {
  animation: quarterspin 0.5s ease;
}

.menu-card:hover .menu-ok {
  margin-right: 0px;
}

.menu-text {
  overflow: hidden;
  white-space: nowrap;
  line-height: 0.6;
  text-overflow: ellipsis;
}

.menu-card p {
  display: flex;
  flex-direction: row;
  font-size: 16px;
}

.menu-ok i {
  color: #99E2D0;
  background-color: white;
  border-radius: 50%;
  font-size: 20px;
  padding: 5px;
}

.row-card {
  display: flex;
  flex-direction: row;
}

.euro {
  margin-left: auto;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding-right: 20px;
  font-size: 19px;
  margin-top: 35px;
}

.entree {
  border-radius: 30px 30px 0px 0px;
}

.plats {
  margin-top: 20px;
}

.dessert {
  margin-top: 20px;
}

.footer-btn {
  width: 238px;
  height: 47px;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border: none;
  border-radius: 30px;
  color: white;
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.footer-btn:hover {
  transition: 200ms;
  transform: scale(1.006);
  opacity: 0.85;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}

.footer-content {
  background-color: #353535;
  color: white;
  margin-top: -40px;
}

.footer-title {
  padding-left: 20px;
  padding-top: 20px;
  font-family: Shrikhand;
  border: none;
  margin: 0;
}

.footer-link {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  padding-bottom: 20px;
  line-height: 1.6;
}

.footer-link a {
  color: white;
}

@media (min-width: 780px) {
  .background {
    max-width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 1024px) {
  .footer-title {
    margin: 20px;
    margin-right: 87px;
  }
  .footer-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
    height: 100px;
  }
  .footer-link {
    flex-direction: row;
    gap: 20px;
  }
}