@mixin{
@keyframes quarter-spin {
    0% {
        transform: rotate(-270deg);
    }
    100%{
        transform: rotate(0);
    }
}
}


.menu-card{

    i {
        background-color: black;
        color: beige;
    }
    &:hover{
        background-color: black;
        color: red;
    }
}
buibbudizebbbub