// Définition des couleurs
$main-color: #9356DC;       
$second-color: #FF79DA;     
$third-color: #00b300;      
$fourth-color: #9900cc;     
$fifth-color: #ff3333;
$six-color: #99E2D0;
$seven-color: #ffff;
$height-color:#F6F6F6;
$nine-color:#353535;
$ten-color:#7E7E7E;
$eleven-color:#EAEAEA