@use "./animation";
@use "./color";
@import "./hearth.scss";
@include hearth;
body{
    margin: 0;
    font-family: 'Roboto';
}

a{
    text-decoration: none;
    color: #000;
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    
}
.logo{
    display: flex;
    margin-top: 10px;
    justify-content: center;
    height: 65px;
    align-items: center;
    
    

}

.arrow{
    position: absolute;
    left: 20px;
    top: 25px;
    font-size: 20px;
    color: black;
}
.logo img{
    width: 160px;
    margin: 10px;
    z-index: -1;
}
.background{
    width: 100vw;
    height: 70vw;
    max-width: 800px;
    object-fit: cover;
    
    
}

label input[type="checkbox"] 
{  position: relative;
    right: 0;
    bottom: 0;
    opacity: 0;
    
}


.hearth-check i {
    position: absolute;
    right: 30px;
    top: 37px;
    font-size: 25px;
    transition: 0.7s;
    cursor: pointer;
}
.menu{
    position: relative;
    bottom: 40px;
    background-color: color.$height-color ;
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1055px;
    
}
h1{
    font-family: Shrikhand;
    padding-top: 15px;
    padding-left: 20px;
    font-size: 25px;
    align-items: start;
    display: flex;
    justify-content: center;
    margin-right: 31vw;
    width: 63%;
}
h2{
    font-size: 20px;
    border-bottom: 3px solid color.$six-color;
    width: 50px;
    margin-left: 20px;
    font-weight: 100;
    font-size: 18px;
}
h3{
    font-size: 19px;
}
.all-menu{
    display: contents;
   
}
.menu-content{
    $numbercard: 5;
    @for $i from 1 through $numbercard {
        &:nth-child(#{$i}) {
            animation-delay: 300ms *
            $i ;
        }
    }

    animation: apparition 1.2s ;
    animation-fill-mode: both ;
    
}
.menu-card{
    $numbercard: 4;
    @for $i from 1 through $numbercard {
        &:nth-child(#{$i}) {
            animation-delay: 300ms *
            $i ;
        }
    }

    animation: apparition 600ms ;
    animation-fill-mode: both ;
    background-color: color.$seven-color;
    
    margin: 15px;
    padding-left: 15px;
    
    border-radius: 20px;
    width: 90vw;
    max-width: 500px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
}

.menu-ok{
    
    background: color.$six-color;
    margin-right: -70px;
    border-radius: 0px 20px 20px 0px;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
   
    
}
@keyframes quarterspin {
    0% {
      transform: rotate(-276deg);
    }
    100% {
      transform: rotate(0);
    }
  }
  .menu-card:hover i {
    animation: quarterspin 0.5s ease ;
  }
.menu-card:hover .menu-ok{
    margin-right:0px;

}
.menu-text{
    overflow: hidden;
    white-space: nowrap;
    line-height: 0.6;
    text-overflow: ellipsis;
    
    
}
.menu-card p{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    
    
}
.menu-ok i{
    color: color.$six-color;
    background-color: color.$seven-color ; 
    border-radius: 50%;
    font-size: 20px;
    padding: 5px;
   
    

}


.row-card{
    display: flex;
    flex-direction: row;
}
.euro{
    margin-left: auto;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    font-size: 19px;
    margin-top: 35px;
}
.entree{
    border-radius: 30px 30px 0px 0px ;
}
.plats{
    margin-top: 20px;
}
.dessert{
    margin-top: 20px;
}
.footer-btn{
    width: 238px;
    height: 47px;
    background:linear-gradient(to top, color.$main-color, color.$second-color);
    border: none;
    border-radius: 30px;
    color: color.$seven-color;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.footer-btn:hover{
    transition: 200ms;
    transform: scale(1.006);
    opacity: 0.85;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.6);
}
.footer-content{
    background-color: $nine-color;
    color: color.$seven-color;
    margin-top: -40px;
}
.footer-title{
    padding-left: 20px;
    padding-top: 20px;
    font-family: Shrikhand;
    border: none;
    margin: 0;
}
.footer-link{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-bottom: 20px;
    line-height: 1.6;
    
    
}
.footer-link a{
    color: color.$seven-color;
}

@media (min-width: 780px) {
    .background{
        max-width: 100%;
        height: 400px;
        object-fit: cover;
    }
}

@media (min-width: 1024px) {
.footer-title{
    
    margin: 20px;
    margin-right: 87px;
}
.footer-content{
    display: flex;
flex-direction: row-reverse;
align-items: end;
height: 100px;

}
.footer-link{
    flex-direction: row;
    gap: 20px;
}
}
